@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');


.logo {
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.menu-hamburger {
  height: 33px;
  filter: var(--image-theme);
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
}

.App-link {
  color: #61dafb;
}

input[type=text],
input[type=password],
textarea,
select {
  border: 1px solid #D9D9D9;
  background-color: var(--background);
  /*border: 1px solid;*/
  border-radius: 2px;
  color: var(--text-primary);
  height: 3vw;
  resize: vertical;
  padding: 12px 5px;
}

@media only screen and (max-width: 720px) {

  input[type=text],
  input[type=password],
  textarea,
  select {
    font-size: 2vw;
    height: 15px;
    padding: 20px 5px;
  }
}