.container-paginacao{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
    margin: 40px 0;
}


.page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: var(--pagination-button);
    transition: 600ms;
    border: solid 1px var(--text-primary);
}

.page:hover{
    cursor: pointer;
    background-color: #28A49C;
}

.page.active{
    color: #fff;
    background-color: #28A49C;
}

.page.disabled:hover{
    cursor: default;
    background: #D9D9D9;
}